@use 'bootstrap';
@use 'bootstrap-breakpoints';
@use 'buttons';
@use 'images';

// Import fonts from Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

// Sticky footer
#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  main {
    flex: 1;
  }
}