section.products {

  a {
    color: #000;
    text-decoration: none;
    position: relative;
    display: block;
    height: 150px;

    img {
      transition: filter 0.3s;
      float: right;
      aspect-ratio: initial;
      border: 1px solid #b9c0ce;
      max-width: 35%;
      height: calc(100% - 20px);
      min-width: 0;
      display: block;
      object-position: center center;

      &.bw {
        filter: grayscale(100%);
      }
    }

    h3 {
      color: var(--headerFooterBgColor);
    }
  }

  a:hover {
    h3 {
      text-decoration: underline;
    }

    img:not(.bw) {
      filter: saturate(2);
    }

    img.bw {
      filter: grayscale(100%) sepia(20%);
    }
  }


  label {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;

    &:last-of-type {
      margin-bottom: 40px;
    }

    span {
      display: inline-block;
      width: 100px;
    }

    select {
      width: 200px;
      font-size: 16px;
      border: 1px solid #000;
      border-radius: 5px;
      background-color: #eee;
      text-indent: 10px;
      line-height: 30px;
      appearance: none;
      -webkit-appearance: none;
      background: right no-repeat #eee url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    }
  }
}

article.product,
section.products {
  button {
    transition: filter 0.3s;
    background-color: var(--buttonBgColor);
    color: white;
    padding: 10px 20px;
    border: 1px solid #000;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    float: right;
    margin-bottom: 15px;

    &:hover {
      filter: saturate(1.4);
    }
  }

  img {
    object-position: center center;
    border: 1px solid #b9c0ce;
    filter: saturate(1.4);
  }
}

section.products button {
  float: initial;
  width: 300px;
}