dy {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  margin: 0;
}

.clock-container-outer {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.clock-container {
  height: calc(100vh - 40px);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

button {
  background: #333;
  color: #fff;
  border: 0;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.canvas-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background-color: #f4f4f4;
  position: relative;
}

.analog-settings {
  position: absolute;
  z-index: 2;
  top: 60px;
  border-radius: 20px;
  padding: 20px;
  background-color: #eee;

  label span {
    display: inline-block;
    width: 120px;
  }

  div {
    margin: 5px 0;
  }

  .close-analog-settings {
    margin: 15px 0 0;
    text-align: center;
    border-radius: 20px;
    padding: 5px;
    background-color: black;
    color: white;
    cursor: pointer;
  }
}