@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import 'products.css';
@import 'version.css';

:root {
  font-family: 'Noto Sans';
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --headerFooterBgColor: #0e6c15;
  --buttonBgColor: #127d1b;
  --headerFooterTextColor: #fff;
  --navLinkColor: #bbb;
  --navLinkColorActive: #fff;
  --logoColor: #fff;
}

/* Box sizing */
html {
  box-sizing: border-box;

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
}


/* Sticky footer */
#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  main {
    flex: 1;
  }
}

/* Some styling */

body {
  margin: 0;
  font-size: 18px;
}

header,
footer {
  background-color: var(--headerFooterBgColor);
  color: var(--headerFooterTextColor);
  padding: 20px;
}

header {
  h1 {
    margin: -5px 0 0;
    font-family: 'Chewy';
    color: var(--logoColor);
  }

  a {
    display: inline-block;
    color: var(--navLinkColor);
    text-decoration: none;
    padding: 5px 10px;
    font-weight: bold;

    &:first-child {
      padding-left: 0;
    }

    &.active {
      color: var(--navLinkColorActive);
    }
  }
}

footer {
  text-align: center;
}

main {
  padding: 0 20px;
  margin: -5px auto 20px;
  max-width: 700px;

  img {
    width: 100%;
    aspect-ratio: 20/9;
    object-fit: cover;
    object-position: left top;
    border-radius: 10px;
    border: 1px solid var(--headerFooterBgColor);
  }

  h2 {
    color: var(--headerFooterBgColor);
    margin-bottom: 6px
  }

  h2+p {
    margin-top: 0;
  }
}