@import 'analog-clock.css';

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Button */
button {
  position: absolute;
  z-index: 1;
  padding: 10px 20px;
  background-color: black;
  color: white;
  font-size: 20px;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  border-radius: 20px;
  width: 150px;
  text-align: center;
  cursor: pointer;
}

button:nth-child(2) {
  left: 170px;
}

/* Digital Clock */
.digital-clock {
  height: 45vh;
  padding-top: 45vh;
  text-align: center;

  span {
    font-family: 'Courier New', Courier, monospace;
    padding: 10px 20px;
    font-size: 50px;
    background-color: black;
    color: white;
    border-radius: 20px;
    display: inline-block;
  }
}